/* .test-home {
    color: white;
    font-family: 'Lato', sans-serif;   
} */

.container {
    width:100vh; 
    height:100vh;
    padding: none;
}

#background-video{
    height: 100vw;
    width: 100vw;
    padding: none;
    position: initial; /* optional */
    opacity: .05;

}

.player .iframe .player-alert .close, .player .vp-player-layout, .player .vp-resize-iframe, .player .vp-target er{
    position: initial;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100vh; 
    height:100vh;
}