@media all and (min-width: 480px) {
    /* .form {
        border-color: red;
    } */
    .create-acct {
        top: 50%;
        left: 50%;
        display: block;
        position: absolute;
        background-color: #E0E0E0;
        padding: 60px 40px;
        width: 300px;
        min-height: 400px;

        margin: -100px 0 0 -150px;
      }

    .create-acct form {
        margin: 0 auto;
        max-width: 320px;
    }
}
