/* .test-home {
    color: white;
    font-family: 'Lato', sans-serif;   
} */

.container-fluid {
    width:100%;
    height:100%;
    padding: 0px;
    left:0;
}

#background-video{
    height: 100vw;
    width: 100vw;
    padding: none;
    position: initial; /* optional */
    opacity: .33;

}

.player, .iframe, .player-alert, .close, .vp-player-layout, .vp-resize-iframe, .vp-target {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    /* width:100vh;
    height:100vh; */
}

.responsive-video,{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}
