.reddit-display {
    width: 100%;
    height: 100%;
    background-color: #36515a;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 4px 8px 12px #190a31;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.reddit-header {
    color: #FAEBD8;
    font-weight: 300;
    font-size: 30px;
}

.reddit-divs {
    margin-bottom: 15px;
    background:rgba(66, 92, 115, .5);
    border-radius: 15px;

    border-style: dotted;
    border-color: #748386;
    border-width: 3px;
}

.col-centered.reddit-title {
    padding-top: 5px;
    padding-bottom: 10px;
}

.col-centered.reddit-img {
    padding-bottom: 15px;
}

.reddit-thumbnail {
    width: 150px;
    height: 150px;
    border-radius:15%;
    -webkit-border-radius:15%;
    -moz-border-radius:15%;
    -ms-border-radius:15%;
    -o-border-radius:15%;
    box-shadow: 2px 4px 8px #190a31;
} 

.reddit-article-title {
    color: #AFB2C4;
    font-weight: 400;
    font-style: italic;
    margin-left: 15px;
    margin-right: 15px;
}

.reddit-article-title:hover {
    color: #190a31;
    background-color: #AFB2C4;
}


/* .reddit-div {
    padding-left: 20px;
    padding-right: 20px;
}

.reddit-threads {
    margin-bottom: 15px;
    background:rgba(66, 92, 115, .5);
    border-radius: 15px;
}

.reddit-title {
    font-size: 12px;
}

.reddit-url {
    font-size: 10px;
    padding-left: 15px;
    color: white;
    font-weight: 200;
}
*/

