.reddit-display {
    width: 100%;
    height: 100%;
    background-color: #36515a;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 4px 8px 12px #190a31;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.reddit-header {
    color: #FAEBD8;
    font-weight: 300;
    font-size: 30px;
}

.reddit-div {
    padding-left: 20px;
    padding-right: 20px;
}

.reddit-threads {
    margin-bottom: 15px;
    background:rgba(66, 92, 115, .5);
    border-radius: 15px;
}

.reddit-title {
    font-size: 12px; 
}

.reddit-url {
    font-size: 10px; 
    padding-left: 15px;
    color: white;
    font-weight: 200;
}

.reddit-thumbnail{
    width: 100px; 
    height: 100px;
    margin: 5px;
    padding-left: 10px;
    padding-top: 5px;
}