.footer {
  min-height: 50px;
  min-width: 100%;
  background: #AFB2C4;
  opacity: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #190a31;
}

.team-name {
  position: relative;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.merge-conflict {
  color: rgb(84, 39, 78);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.team-name:hover p {
  color: white;
}

.team-name:hover {
  color: white;
}

.footer-btn {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 20px;

}

.footer-btn-link {
  color: #190a31;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: transparent; 
}

.footer-btn-link:hover {
  color: white;
}


