.profile-page {
    max-width: 750px;
}

.profile-div {
    border-style: double;
    border-width: 10px;
    border-color: #425C73;
    padding-bottom: 0px;
    background-color: #35706C;
    max-width: 600px;
}

h1 {
    color: #FAEBD8;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
}

.center-image {
    text-align: center;
}

.profile-image {
    background-color: #748386;
    color: white;
    margin: auto;
    padding: 15px;
}

.profile-info {
    border-style: dotted;
    border-width: 5px;
    border-color: #AFB2C4;
    padding-bottom: 0px;
    background-color: #425C73;
    margin: 30px;
}

p {
    color: #FAEBD8;
    padding-left: 15px;
}