.contact-form {
    max-width: 750px;
}

.contact-form-form {
    background-color: #36515a;
    border-radius: 15px;
    box-shadow: 4px 8px 12px #190a31;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    float: none;
    margin: 25px 20px 75px 20px;
    padding: 20px 30px;
}

.contact-form-label {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #FAEBD8;
}

.contact-h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #AFB2C4;
}