.history-display {
    width: 100%;
    height: 100%;
    background-color: #36515a;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 4px 8px 12px #190a31;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.history-header {
        color: #FAEBD8;
        font-weight: 300;
        font-size: 30px;
}

.history-birth {
    margin-bottom: 15px;
    background:#190a31;
    border-radius: 15px;
    border-style: dotted;
    border-color: #748386;
    border-width: 3px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
}

.history-birth h4 {
    color: #748386;
    font-weight: 400;
}

.history-birth h6 {
    color: #AFB2C4;
    font-weight: 300;
}

.history-death {
    margin-bottom: 15px;
    background:#AFB2C4;
    border-radius: 15px;
    border-style: dotted;
    border-color: #425C73;
    border-width: 3px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
}

.history-death h4 {
    color: #425C73;
    font-weight: 400;
    text-align: center;
}

.history-death h6 {
    color: #190a31;
    font-weight: 300;
    text-align: center;
}

.history-event {
    margin-bottom: 15px;
    background:#190a31;
    border-radius: 15px;
    border-style: dotted;
    border-color: #748386;
    border-width: 3px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
}

.history-event h4 {
    color: #748386;
    font-weight: 400;
    text-align: end;
}

.history-event h6 {
    color: #AFB2C4;
    font-weight: 300;
    text-align: end;
}